<div class="mt-5 d-flex flex-row align-items-center justify-content-center" *ngIf="!isLoaded">
    <p-progressSpinner></p-progressSpinner>
</div>
<div *ngIf="isLoaded">
    <div class="card m-4 p-4">
        <h1 class="section-title">Settings</h1>
        <div class="p-fluid">
            <div class="row">
                <div class="p-field mb-4 col-lg-6">
                    <label class="small-text" for="Client Fee">Client Fee</label>
                    <input class="small-text" id="Client Fee" name="Client Fee" [(ngModel)]="settings['Client Fee']" type="text" pInputText> 
                </div>
                <div class="p-field mb-4 col-lg-6">
                    <label class="small-text" for="Paytm Redirect URL">Paytm Redirect URL</label>
                    <input class="small-text" id="Paytm Redirect URL" name="Paytm Redirect URL" [(ngModel)]="settings['Paytm Redirect URL']" type="text" pInputText> 
                </div>
                <div class="p-field mb-4 col-lg-6">
                    <label class="small-text" for="Paytm Status URL">Paytm Status URL</label>
                    <input class="small-text" id="Paytm Status URL" name="Paytm Status URL" [(ngModel)]="settings['Paytm Status URL']" type="text" pInputText> 
                </div>
                <div class="p-field mb-4 col-lg-6">
                    <label class="small-text" for="Paytm URL">Paytm URL</label>
                    <input class="small-text" id="Paytm URL" name="Paytm URL" [(ngModel)]="settings['Paytm URL']" type="text" pInputText> 
                </div>
                <div class="p-field mb-4 col-lg-6">
                    <label class="small-text" for="Monthly Payment Plans">Monthly Payment Plans</label>
                    <p-multiSelect [options]="monthlyPaymentPlans" [(ngModel)]="settings['Monthly Payment Plans']" optionLabel="month" optionValue="month"></p-multiSelect>
                </div>
            </div>
            <div class="row">
                <div class="p-field mb-4 col-md-2">
                    <button pButton pRipple label="Submit" (click)="saveSettings()" class="p-button-outlined small-text"></button>
                </div>    
            </div>
        </div>
    </div>
</div>
<!-- <p-toast [style]="{'font-size': '1.5rem', 'width': toastWidth}" position="bottom-left"></p-toast> -->