<div class="mt-5 d-flex flex-row align-items-center justify-content-center" *ngIf="!isLoaded">
    <p-progressSpinner></p-progressSpinner>
</div>
<div class="p-5" *ngIf="isLoaded">
    <h1 class="section-title">Profile</h1>
    <div class="row">
        <div class="col-6">
            <img [src]="user['photoURL']" alt="" class="profile-img">
        </div>
    </div>
    <div class="my-5 row">
        <div class="col-12 card mr-5">
            <div class="card-body">
                <div class="medium-text">Name: {{user['displayName']}}</div>
                <div class="medium-text">Email: {{user['email']}}</div>
                <div class="medium-text">Last Log In: {{user['logintime']}}</div>
                <div class="medium-text">Last Log Out: {{user['logouttime']}}</div>
                <div *ngIf="userRole['viewMembershipInformation']">
                    <div class="medium-text">Membership Type: {{user['membershipType']}}</div>
                    <div class="medium-text">Membership Date: {{user['membershipDate']}}</div>    
                </div>
                <div *ngIf="userRole['viewClientInformation']">
                    <div class="medium-text">Company Name: {{user['companyname']}}</div>
                    <div class="medium-text">Contact Name: {{user['proprietorname']}}</div>
                    <div class="medium-text">Contact Number: {{user['contactnumber']}}</div>
                    <div class="medium-text">Designation: {{user['designation']}}</div>
                    <div class="medium-text">GST Number: {{user['gstnumber']}}</div>     
                </div>
                <div *ngIf="userRole['viewClientInformation']">
                    <div class="medium-text">State: {{user['state']}}</div>
                    <div class="medium-text">City: {{user['city']}}</div>
                    <div class="medium-text">Zip Code: {{user['zipcode']}}</div>
                    <div class="medium-text">Payment Plan: {{user['monthlyPaymentPlan']}} Month</div>
                    <div class="medium-text">Newsletter Subscription?: {{user['newsletterSubscription']}}</div>     
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="userRole['viewClientInformation']" class="row">
        <div class="col-12 d-flex flex-row align-items-center justify-content-center">
            <button routerLink="/transaction-status/{{transactionData['paymentGateway'] | lowercase}}/{{user['transactionOrderID']}}" [style]="{width: '100%'}" pButton pRipple label="View Transaction Information" class="p-button-outlined medium-text"></button>
        </div>
    </div>
</div>