.header {
    background: linear-gradient(to right, rgba($gray, 0.5), rgba($gray, 0.5)), url('https://images.unsplash.com/photo-1556740758-90de374c12ad?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80') no-repeat center center/cover;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    display: flex;
    height: 90vh;

    &-content {
        justify-content: center;
        flex-direction: column;
        align-items: center;    
        padding: 0 5rem;
        display: flex;
        height: 50%;

        & .header-title {
           font-size: 2.8rem; 
           color: $white;
        }

        & .header-subtitle {
            font-size: 7.5rem; 
            color: $bright;
            text-transform: uppercase;
            font-weight: bold;
        }
    }
}

@media(max-width: 1000px) {
    .header {

        &-content {
            padding: 0 1.5rem;
            border: none;

            & .header-subtitle {
                font-size: 5rem;
            }
        }
    }
}