.information {
    justify-content: space-evenly;
    flex-direction: row;
    align-items: center;
    background: $black;
    color: $bright;
    display: flex;
    border-bottom: 1px solid $gray;

    &-details {
        justify-content: center;
        flex-direction: row;
        align-items: center;
        display: flex;
        
        & .information-detail {
            border-right: 0.5px solid $gray;
            border-left: 0.5px solid $gray;
            padding: 1.5rem;
            font-size: 1.3rem;
            list-style: none;

            &-icon {
                margin-right: 1rem;
            }

            &:last-child {
                border-left: none;
            }
        }
    }

    &-digital {

        &-link {
            font-size: 1.75rem;
            color: $bright;
            margin: 0 1.5rem;

            &:hover {
                color: $bright;
                padding-bottom: 1rem;
            }
        }
    }
}

@media(max-width: 1000px) {
    
    .information {
        display: none;
    }
}

