$bright: #00ccfd;
$dark: #1e2126;
$white: #ffffff;
$black: #000000;
$gray: #333333;

html {
    scroll-behavior: smooth;
    font-size: 10px;

    & .p-datatable-scrollable-header-box {
        padding: 0 !important;
    }

    & body, .p-component {
        font-family: 'Montserrat';
    }

    & body {
        font-size: 1.25rem;
        line-height: 2;    
        position: relative;
    }

    & .bright {
        color: $bright !important;
    }

    & .dark {
        color: $dark !important;
    }

    & .router-outlet {
        min-height: 100vh
    }

    .small-text {
        line-height: 2;
        font-size: 1.25rem;
    }

    .medium-text {
        line-height: 2;
        font-size: 1.5rem;
    }

    .double-box {
        
        & img {
            width: 75%;
            border-radius: 2.5rem;
        }
    }

    & .home-page-section {
        padding: 2.5rem;
    }

    & .section-title {
        width: 50%;
        font-size: 3rem;
        color: $dark;
        padding-bottom: 2rem;
        margin-bottom: 2rem;
        border-bottom: 2px solid $bright;
    }

    & .card {
        border-radius: 0;
        border: 1px solid $bright;

        & .card-body {
            padding: 2rem;
        }
    
        & .card-title {
            font-size: 2rem;
            padding-bottom: 1rem;
            margin-bottom: 1rem;
            border-bottom: 2px solid $bright;
        }
    }

    & .alert-text {
        font-weight: 400;
        font-size: 1.5rem;
        line-height: 2;
    }
    
    & .contact {
        cursor: pointer;
        position: fixed;
        bottom: 2.5rem;
        right: 2.5rem;
        font-size: 2.5rem;
        z-index: 1000;
        padding: 1.5rem;
        width: 7.5rem;
        height: 7.5rem;
        border-radius: 50%;
        background: $black;
        color: $bright;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        transition: all 0.25s ease-in-out;

        &:hover {
            background: $dark;
            color: $bright;
        }
    }

    & .dialog-title {
        font-size: 2rem;
        margin-bottom: 0;
    }

    & .profile-img {
        margin: auto;
        width: 20rem;
        border-radius: 50%;
    }

    & .justify-content-evenly {
        justify-content: space-evenly;
    }

    & .large-line-height {
        line-height: 2.5;
    }

    & .sign-up-img {
        border-radius: 5rem;
        width: 50%;
        margin-bottom: 1.5rem;
    }

    & .half-page-section {
        width: 50%;
        margin: auto;
    }
}

@media(max-width: 1200px) {
    .transaction-status-section {
        width: 90% !important;
    }

    .section-title {
        width: 75% !important;
    }
}

@media(max-width: 998px) {
    .sign-up-img {
        display: none;
    }
    
    .double-box {
        margin-bottom: 2.5rem;
        display: flex;
        flex-direction: row;
        justify-content: flex-start !important;

        & img {
            width: 50% !important;
        }
    }
}

@media(max-width: 575px) {
    .double-box {

        & img {
            width: 100% !important;
        }
    }
}

@import "header";
@import "navbar";
@import "footer";
@import "information";