<section class="header">
    <div class="header-content">
        <h1 class="header-title">Deals4Inventory</h1>
        <h1 class="header-subtitle">We Facilitate</h1>
    </div>
</section>
<section class="home-page-section">
    <h1 class="section-title">Who Are We?</h1>
    <div class="row">
        <div class="double-box col-lg-4 d-flex flex-row align-items-center justify-content-center">
            <img src="https://images.unsplash.com/photo-1610034534785-4706b86dd6a5?ixid=MXwxMjA3fDB8MHx0b3BpYy1mZWVkfDZ8YWV1NnJMLWo2ZXd8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60" alt="">
        </div>
        <div class="col-lg-8 d-flex flex-row align-items-center justify-content-start">
            <div class="card">
                <div class="card-body">
                    <p class="medium-text">
                        Deals4Inventory.com, an e-marketplace to liquidate your excess inventory in your warehouse. We are mainly focusing on Chemicals, Pharmaceutical, API, Paints and all allied industries. Deals4Inventory.com, a web portal, designed to provide technology-driven, easy and convenient solutions to industries. To ensure that you interact with genuine, expert and experienced professionals, registration is mandatory for usage of the portal. We are mainly focusing to provide a platform to trade of usable-unused materials. 
                    </p>
                </div>
            </div>   
        </div>
    </div>
</section>
<section class="home-page-section">
    <h1 class="section-title">How It Works?</h1>
    <div class="row">
        <div class="double-box col-lg-4 d-flex flex-row align-items-center justify-content-center">
            <img src="https://images.unsplash.com/photo-1612347903327-1be71c646ee3?ixid=MXwxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHw0fHx8ZW58MHx8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60" alt="">
        </div>
        <div class="col-lg-8 d-flex flex-row align-items-center justify-content-start">
            <div class="card">
                <div class="card-body">
                    <p class="medium-text">
                        Our registered members can sell their non-moving, dead, slow-moving, excess/surplus or trailing quantities of materials with greater transparency without paying any extra money through our portal. Buyers and Sellers can trade , API, chemicals, paints, inks, Intermediate, Solvents, Packaging material as per their interest and requirement at better prices. It connects pharmaceutical, industrial chemical, plastics, polymer, cosmetics, rubber, ink, paint, cement, veterinary drugs, dyes, textiles, agrochemicals and all such industries. We don’t buy or sell excel inventory, rather we provide a platform to our registered users via deals4inventory.com can buy, sell, own or store any materials to bring more transparency.
                    </p>
                </div>
            </div>   
        </div>
    </div>
</section>
<!-- <section class="home-page-section">
    <h1 class="section-title">Section 2 Title</h1>
    <div class="card-deck">
        <div class="card">
            <img src="https://images.unsplash.com/photo-1563986768711-b3bde3dc821e?ixid=MXwxMjA3fDB8MHxzZWFyY2h8MTF8fHN0b2Nrc3xlbnwwfHwwfA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60" alt="" class="card-img-top">
            <div class="card-body">
                <h1 class="card-title">Section 2A Title</h1>
                <p class="small-text">Section 2A Text</p>
            </div>
        </div>
        <div class="card">
            <img src="https://images.unsplash.com/photo-1434030216411-0b793f4b4173?ixid=MXwxMjA3fDB8MHxzZWFyY2h8NXx8cHJvbW90ZSUyMGJ1c2luZXNzfGVufDB8fDB8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60" alt="" class="card-img-top">
            <div class="card-body">
                <h1 class="card-title">Section 2B Title</h1>
                <p class="small-text">Section 2B Text</p>
            </div>
        </div>
        <div class="card">
            <img src="https://images.unsplash.com/photo-1470405696369-2ab23def9f8d?&ixid=MXwxMjA3fDB8MHxzZWFyY2h8MjR8fHNlYXJjaCUyMHN0b3JlfGVufDB8fDB8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60" alt="" class="card-img-top">
            <div class="card-body">
                <h1 class="card-title">Section 2c Title</h1>
                <p class="small-text">Section 2C Text</p>
            </div>
        </div>
    </div>
</section> -->
<!-- <section class="home-page-section">
    <h1 class="section-title">Section 3 Title</h1>
    <div class="row">
        <div class="double-box col-lg-4 d-flex flex-row align-items-center justify-content-center">
            <img src="https://images.unsplash.com/photo-1571624436279-b272aff752b5?ixid=MXwxMjA3fDB8MHxzZWFyY2h8NXx8Y29tcGFueXxlbnwwfHwwfA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60" alt="">
        </div>
        <div class="col-lg-8 d-flex flex-row align-items-center justify-content-start">
            <div class="card">
                <div class="card-body">
                    <p class="medium-text">
                        Section 3 Text
                    </p>
                </div>
            </div>   
        </div>
    </div>
</section> -->
<div class="home-page-section">
    <p-carousel [value]="carouselItems" styleClass="custom-carousel" [numVisible]="2" [numScroll]="1" [circular]="true" [autoplayInterval]="3000" [responsiveOptions]="responsiveOptions">
        <ng-template let-carouselItem pTemplate="item">
            <div class="card-deck">
                <div class="card" style="height: 40rem;">
                    <img style="border-radius: 50%; width: 20rem; height: 20rem; margin: 1rem auto;" class="card-img-top" src="{{carouselItem.image}}" alt="">
                    <div class="card-body">
                        <h1 class="card-title text-center">{{carouselItem.title}}</h1>
                        <p class="small-text text-center">
                            {{carouselItem.text}}
                        </p>
                    </div>
                </div>
            </div>
        </ng-template>
    </p-carousel>
</div>