<div class="mt-5 d-flex flex-row align-items-center justify-content-center" *ngIf="!isLoaded">
    <p-progressSpinner></p-progressSpinner>
</div>
<div *ngIf="isLoaded">
    <section class="information">
        <div class="information-details">
            <li class="information-detail"><i class="information-detail-icon fa fa-phone"></i> +91 80803 80430</li>
            <li class="information-detail"><i class="information-detail-icon fas fa-at"></i> deals4inventory@gmail.com</li>
            <li class="information-detail"><i class="information-detail-icon fas fa-map-marker-alt"></i> Mumbai, India</li>
        </div>
        <div class="information-digital">
            <a class="information-digital-link" target="_blank" href="https://twitter.com"><i class="fab fa-twitter"></i></a>
            <a class="information-digital-link" target="_blank" href="https://instagram.com"><i class="fab fa-instagram"></i></a>
            <a class="information-digital-link" target="_blank" href="https://facebook.com"><i class="fab fa-facebook"></i></a>
            <a class="information-digital-link" target="_blank" href="https://linkedin.com"><i class="fab fa-linkedin"></i></a>
        </div>
    </section>
    <nav class='navbar navbar-expand-lg'>
        <a class='navbar-brand' routerLink='/'>
            <img src="../assets/Deals4Inventory.PNG" alt="">
        </a>
        <button class='navbar-toggler' type='button' data-toggle='collapse' data-target='#navbarSupportedContent' aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation'>
            <i class='fa fa-bars'></i>
        </button>
        <div class='collapse navbar-collapse' id='navbarSupportedContent'>
            <ul class='navbar-nav ml-auto'>
                <li class="nav-item">
                    <a routerLink="/" class="nav-link">Home</a>
                </li>
                <li *ngIf="userRole['viewTrade']" class="nav-item">
                    <a routerLink="/trade" class="nav-link">Trade</a>
                </li>
                <li *ngIf="userRole['viewSignIn']" class="nav-item">
                    <a (click)='authenticationService.signIn()' class="nav-link">Sign In</a>
                </li>
                <li *ngIf="userRole['viewSupport']" class="nav-item">
                    <a routerLink="/support/settings" class="nav-link">Settings</a>
                </li>
                <li *ngIf="userRole['viewSupport']" class="nav-item">
                    <a routerLink="/support/contact" class="nav-link">Contact</a>
                </li>
                <li *ngIf="userRole['viewSupport']" class="nav-item">
                    <a routerLink="/support/users" class="nav-link">Users</a>
                </li>
                <li *ngIf="userRole['viewSupport']" class="nav-item">
                    <a routerLink="/support/transactions" class="nav-link">Transactions</a>
                </li>
                <li *ngIf="userRole['viewSupport']" class="nav-item">
                    <a routerLink="/support/cas" class="nav-link">CAS</a>
                </li>
                <li *ngIf="!userRole['viewSignIn'] && sidebarProfile" class="nav-item">
                    <a (click)="showProfile()" class="nav-link">Profile</a>
                </li>
                <li *ngIf="!userRole['viewSignIn'] && !sidebarProfile" class="nav-item">
                    <a routerLink="/profile" class="nav-link">Profile</a>
                </li>
                <li *ngIf="userRole['viewSignUp']" class="nav-item">
                    <a routerLink="/sign-up" class="nav-link">Sign Up</a>
                </li>
                <li *ngIf="!userRole['viewSignIn']" class="nav-item">
                    <a (click)='authenticationService.signOut()' class="nav-link">Sign Out</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="router-outlet">
        <router-outlet></router-outlet>
    </div>
    <footer class="footer">
        <h1 class="footer-title">Copyright &copy; 2020 All Rights Reserved.  This application is designed and developed by Deals4Inventory.</h1>
    </footer>
    <div (click)="showDialog()" class="contact">
        <i class="fas fa-comments"></i>
    </div>
</div>
<p-dialog [(visible)]="isShowingDialog" [style]="{width: dialogWidth}" [modal]="true" styleClass="p-fluid">
    <ng-template pTemplate="header">
        <h1 class="section-title dialog-title">Contact Us</h1>
    </ng-template>
    <ng-template pTemplate="content">
        <div class="p-fluid">
            <div class="p-field mb-4">
                <label class="small-text" for="firstname">First Name</label>
                <input class="small-text" id="firstname" name="firstname" [(ngModel)]="contactForm['firstname']" type="text" pInputText> 
            </div>
            <div class="p-field mb-4">
                <label class="small-text" for="lastname">Last Name</label>
                <input class="small-text" id="lastname" name="lastname" [(ngModel)]="contactForm['lastname']" type="text" pInputText> 
            </div>
            <div class="p-field mb-4">
                <label class="small-text" for="contactnumber">Contact Number</label>
                <p-inputNumber [inputStyle]="{'font-size': '1.5rem'}" [useGrouping]="false" id="contactnumber" name="contactnumber" [(ngModel)]="contactForm['contactnumber']"></p-inputNumber>
            </div>
            <div class="p-field mb-4">
                <label class="small-text" for="message">Message</label>
                <textarea class="small-text" id="message" name="message" [(ngModel)]="contactForm['message']" [rows]="5" [cols]="30" pInputTextarea autoResize="autoResize"></textarea>
            </div>
            <div class="p-field mb-4">
                <label class="small-text" for="rating">How Would You Rate This Application?</label>
                <p-rating class="small-text" id="rating" name="rating" [(ngModel)]="contactForm['rating']" [cancel]="false"></p-rating>
            </div>
        </div>
    </ng-template>
    <ng-template pTemplate="footer">
        <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-outlined medium-text" (click)="hideDialog()"></button>
        <button pButton pRipple label="Submit" icon="pi pi-check" class="p-button-outlined medium-text" (click)="submitContactForm()"></button>
    </ng-template>
</p-dialog>
<p-sidebar [(visible)]="isShowingProfile" [style]="{width: sidebarWidth}" position="left">
    <div class="p-5" *ngIf="user && userRole">
        <h1 class="section-title">Profile</h1>
        <div class="d-flex flex-row align-items-center justify-content-start w-100">
            <div class="card mr-5">
                <div class="card-body">
                    <div class="medium-text"><strong>Name:</strong> {{user['displayName']}}</div>
                    <div class="medium-text"><strong>Email:</strong> {{user['email']}}</div>
                    <div class="medium-text"><strong>Last Log In:</strong> {{user['logintime']}}</div>
                    <div class="medium-text"><strong>Last Log Out:</strong> {{user['logouttime']}}</div>
                    <div *ngIf="userRole['viewMembershipInformation']">
                        <div class="medium-text"><strong>Membership Type:</strong> {{user['membershipType']}}</div>
                        <div class="medium-text"><strong>Membership Date:</strong> {{user['membershipDate']}}</div>    
                    </div>
                </div>
            </div>
            <div class="d-flex flex-row align-items-center justify-content-center mr-5">
                <img [src]="user['photoURL']" class="profile-img">
            </div>
            <div *ngIf="userRole['viewClientInformation']" class="d-flex flex-row align-items-center justify-content-center">
                <button (click)="hideProfile()" routerLink="/transaction-status/{{transactionData['paymentGateway'] | lowercase}}/{{user['transactionOrderID']}}" [style]="{'width': '100%'}" pButton pRipple label="View Transaction" class="p-button-outlined medium-text"></button>
            </div>
        </div>
        <div class="my-5 d-flex flex-row align-items-center justify-content-start w-100">
            <div class="card mr-5" *ngIf="userRole['viewClientInformation']">
                <div class="card-body">
                    <div class="medium-text"><strong>Company Name:</strong> {{user['companyname']}}</div>
                    <div class="medium-text"><strong>Proprietor Name:</strong> {{user['proprietorname']}}</div>
                    <div class="medium-text"><strong>Contact Number:</strong> {{user['contactnumber']}}</div>
                    <div class="medium-text"><strong>Designation:</strong> {{user['designation']}}</div>
                    <div class="medium-text"><strong>GST Number:</strong> {{user['gstnumber']}}</div> 
                </div>
            </div>
            <div class="card" *ngIf="userRole['viewClientInformation']">
                <div class="card-body">
                    <div class="medium-text"><strong>State:</strong> {{user['state']}}</div>
                    <div class="medium-text"><strong>City:</strong> {{user['city']}}</div>
                    <div class="medium-text"><strong>Zip Code:</strong> {{user['zipcode']}}</div>
                    <div class="medium-text"><strong>Payment Plan:</strong> {{user['monthlyPaymentPlan']}} Month</div>
                    <div class="medium-text"><strong>Newsletter Subscription?</strong> {{user['newsletterSubscription']}}</div>
                </div>     
            </div>
        </div>
    </div>
</p-sidebar>
<p-toast position="bottom-left" [style]="{'font-size': '1.5rem', 'width': '50%'}"></p-toast>