<div class="mt-5 d-flex flex-row align-items-center justify-content-center">
    <p-progressSpinner *ngIf="!isLoaded"></p-progressSpinner>
    <p *ngIf="isRestrictedAccess" class="medium-text mt-5">Sorry, you are not allowed to view this page.  You are currently viewing another user's personal transaction data.  Please redirect to another page.</p>
</div>
<section *ngIf="isLoaded && !isRestrictedAccess" class="home-page-section half-page-section">
    <h1 class="section-title">Transaction {{transactionData['transactionStatus']}}</h1>
    <div class="p-fluid">
        <div class="p-field mb-4">
            <p class="small-text">For futher information about your transaction, contact support.deals4inventory@gmail.com.</p>
            <p class="small-text">To view your transaction information later, access the Profile Page.</p>
        </div>
        <div class="p-field mb-4">
            <label class="medium-text" for="date">Transaction Time</label>
            <input readonly class="medium-text" id="date" name="date" [(ngModel)]="transactionData['date']" type="text" pInputText> 
        </div>
        <div class="p-field mb-4">
            <label class="medium-text" for="paymentGateway">Payment Gateway</label>
            <input readonly class="medium-text" id="paymentGateway" name="paymentGateway" [(ngModel)]="transactionData['paymentGateway']" type="text" pInputText> 
        </div>
        <div class="p-field mb-4">
            <label class="medium-text" for="orderID">Order ID</label>
            <input readonly class="medium-text" id="orderID" name="orderID" [(ngModel)]="transactionData['orderID']" type="text" pInputText> 
        </div>
        <div class="p-field mb-4">
            <label class="medium-text" for="transactionStatus">Transaction Status</label>
            <input readonly class="medium-text" id="transactionStatus" name="transactionStatus" [(ngModel)]="transactionData['transactionStatus']" type="text" pInputText> 
        </div>
        <div class="p-field mb-4">
            <button routerLink="/trade" [style]="{width: '100%'}" pButton pRipple label="Navigate to Trade" class="p-button-outlined medium-text"></button>
        </div>   
    </div>
</section>
