<div class="mt-5 d-flex flex-row align-items-center justify-content-center" *ngIf="!isLoaded">
    <p-progressSpinner></p-progressSpinner>
</div>
<div *ngIf="userRole['viewSupport'] && isLoaded">
    <som-prime-table *ngIf="routeParams['page'] == 'contact'" [dataset$]="contactDataset$"></som-prime-table>
    <som-prime-table *ngIf="routeParams['page'] == 'users'" [dataset$]="usersDataset$"></som-prime-table>
    <som-prime-table *ngIf="routeParams['page'] == 'cas'" [dataset$]="casDataset$"></som-prime-table>
    <som-prime-table *ngIf="routeParams['page'] == 'transactions'" [dataset$]="transactionsDataset$"></som-prime-table>
    <settings-page *ngIf="routeParams['page'] == 'settings'"></settings-page>
</div>