<div *ngIf="!isLoaded" class="d-flex flex-row align-items-center justify-content-center">
    <p-progressSpinner></p-progressSpinner>
</div>
<div *ngIf="isLoaded">
    <div class="card m-4 p-4">
        <h1 class="section-title">{{dataset.title}}</h1>
        <p-table [scrollable]="true" [value]="data" [showCurrentPageReport]="true" currentPageReportTemplate="Showing {last} of {totalRecords} entries" [rowHover]="true" [rows]="10" [paginator]="true">
            <ng-template pTemplate="header">
                <tr>
                    <th style="width: 7.5rem;" *ngIf="dataset.operations.update || dataset.features.reOrderableRows || dataset.operations.delete || dataset.operations.create">
                        <i pTooltip="Add" tooltipPosition="top" *ngIf="dataset.operations.create" (click)="addingRow()" class="fa fa-plus text-success"></i>
                    </th>
                    <th [pSortableColumn]="column.key" style="width: 17.5rem;" *ngFor="let column of dataset.columns">
                        <span>
                            {{column.name}}
                        </span>
                        <span *ngIf="column.sortable">
                            <p-sortIcon [field]="column.key"></p-sortIcon>
                        </span>
                        <span *ngIf="column.filterable">
                            <p-columnFilter type="text" [field]="column.key" display="menu"></p-columnFilter>
                        </span>
                    </th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-index="rowIndex" let-row>
                <tr [pReorderableRow]="index">
                    <td style="width: 7.5rem;" *ngIf="dataset.operations.update || dataset.features.reOrderableRows || dataset.operations.delete || dataset.operations.create">
                        <i pTooltip="Order" tooltipPosition="top" *ngIf="dataset.features.reOrderableRows" class="fa fa-bars" [class.mr-3]="dataset.operations.delete || dataset.operations.update" pReorderableRowHandle></i>
                        <i pTooltip="Edit" tooltipPosition="top" *ngIf="dataset.operations.update" (click)="editingRow(row)" class="fa fa-pencil text-warning" [class.mr-3]="dataset.operations.delete"></i>
                        <i pTooltip="Delete" tooltipPosition="top" *ngIf="dataset.operations.delete" (click)="deleteRow(row)" class="fa fa-trash text-danger"></i>
                    </td>
                    <td style="width: 17.5rem;" *ngFor="let column of dataset.columns">
                        <span *ngIf="!column.type.includes('special')">
                            {{row[column.key]}}
                        </span>
                        <button *ngIf="column.type == 'specialImages'" (click)="viewImages(row[column.key])" pButton pRipple label="View" class="p-button-outlined my-3"></button>
                        <span *ngIf="column.type == 'specialDropdown'">
                            {{row[column.key]}}
                        </span>
                        <span *ngIf="column.type == 'specialAutocomplete'">
                            {{row[column.key][column.autocomplete.optionsLabel]}}
                        </span>
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</div>
<p-dialog class="rowDialog" [(visible)]="isShowingDialog" [style]="{width: '75%'}" header="Item Details" [modal]="true" styleClass="p-fluid">
    <ng-template pTemplate="content">
        <div *ngIf="dialogFunction == 'IMAGES'">
            <p *ngIf="selectedImages.length == 0" class="my-3 medium-text">No images are available for you to view.</p>
            <img style="width: 45%;" class="mr-3" *ngFor="let image of selectedImages" [src]="image.url" [alt]="image.filePath">
        </div>
        <div *ngIf="dialogFunction != 'IMAGES'">
            <div *ngFor="let column of dataset.columns" class="p-field mb-3">
                <label *ngIf="column.edit" for="input">{{column.name}}</label>
                <input placeholder="Enter {{column.name}}" *ngIf="column.edit && column.type == 'text'"  id="input" name="input" [(ngModel)]="row[column.key]" type="text" pInputText> 
                <p-inputNumber placeholder="Enter {{column.name}}" *ngIf="column.edit && column.type == 'currency'" [minFractionDigits]="2" inputId="locale-indian" mode="decimal" locale="en-IN" id="input" name="input" [(ngModel)]="row[column.key]"></p-inputNumber>
                <p-inputNumber placeholder="Enter {{column.name}}" *ngIf="column.edit && column.type == 'number'" inputId="withoutGrouping" id="input" name="input" [(ngModel)]="row[column.key]" [useGrouping]="false"></p-inputNumber>
                <p-inputNumber placeholder="Enter {{column.name}}" *ngIf="column.edit && column.type == 'percentage'" inputId="percent" suffix="%" id="input" name="input" [(ngModel)]="row[column.key]" [useGrouping]="false"></p-inputNumber>
                <textarea  placeholder="Enter {{column.name}}"*ngIf="column.edit && column.type == 'textarea'" id="input" name="input" [(ngModel)]="row[column.key]" [rows]="5" [cols]="30" pInputTextarea autoResize="autoResize"></textarea>
                <input placeholder="Enter {{column.name}}" type="date" id="input" name="input" *ngIf="column.edit && column.type == 'date'" inputId="basic" [(ngModel)]="row[column.key]" pInputText>
                <p-dropdown scrollHeight="15rem" placeholder="Enter {{column.name}}" *ngIf="column.edit && column.type == 'specialDropdown'" [options]="column.dropdown.options" [optionLabel]="column.dropdown.optionsLabel" [optionValue]="column.dropdown.optionsValue" [(ngModel)]="row[column.key]"></p-dropdown>
                <div *ngIf="column.edit && column.type == 'specialImages'" class="custom-file">
                    <input class="custom-file-input" accept=".png, .jpg" type="file" (change)="addImage($event, column.key)" id="addImage">   
                    <label class="custom-file-label" for="addImage">Enter {{column.name}}</label>                
                </div>
                <button *ngIf="column.edit && column.type == 'specialImages' && row[column.key].length != 0" (click)="removeImages(column.key, row)" pButton pRipple label="Remove Images" icon="pi pi-times" class="p-button-outlined my-3"></button>
                <div *ngIf="column.edit && column.type == 'specialImages'">
                    <img *ngFor="let image of row[column.key]" style="width: 45%;" class="mt-3 mr-3" [src]="image.url" [alt]="image.filePath">
                </div>
                <p-dropdown scrollHeight="15rem" placeholder="Enter {{column.name}}" *ngIf="column.edit && column.type == 'specialAutocomplete'" [options]="column.autocomplete.options" [(ngModel)]="row[column.key]" [optionLabel]="column.autocomplete.optionsLabel" [filter]="true" [filterBy]="column.autocomplete.filterKey"></p-dropdown>
            </div>
        </div>
    </ng-template>
    <ng-template pTemplate="footer">
        <div class="p-3">
            <button pButton pRipple label="Cancel" (click)="hideDialog()" icon="pi pi-times" class="p-button-outlined"></button>
            <button *ngIf="dialogFunction == 'ADD'" pButton pRipple label="Add" (click)="addRow()" icon="pi pi-check" class="p-button-outlined"></button>
            <button *ngIf="dialogFunction == 'EDIT'" pButton pRipple label="Save" (click)="editRow()" icon="pi pi-check" class="p-button-outlined"></button>
        </div>
    </ng-template>
</p-dialog>
<!-- <p-toast [style]="{'width': toastWidth, 'font-size': '1.5rem'}" position="bottom-left"></p-toast> -->