<div class="mt-5 d-flex flex-row align-items-center justify-content-center" *ngIf="isLoading">
    <p-progressSpinner></p-progressSpinner>
</div>
<div *ngIf="!isLoading" class="home-page-section half-page-section">
    <h1 class="section-title">Register With Us</h1>
    <div class="row mt-5">
        <div class="col-lg-12 d-flex flex-row align-items-center justify-content-center">
            <div class="p-fluid">
                <div class="row">
                    <div class="col-lg-6 p-field mb-4">
                        <label class="medium-text" for="companyname">Company Name</label>
                        <input class="medium-text" id="companyname" name="companyname" [(ngModel)]="signUpForm['companyname']" type="text" pInputText> 
                    </div>
                    <div class="col-lg-6 p-field mb-4">
                        <label class="medium-text" for="contactperson">Contact Person</label>
                        <input class="medium-text" id="contactperson" name="contactperson" [(ngModel)]="signUpForm['proprietorname']" type="text" pInputText> 
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6 p-field mb-4">
                        <label class="medium-text" for="designation">Designation</label>
                        <input class="medium-text" id="designation" name="designation" [(ngModel)]="signUpForm['designation']" type="text" pInputText> 
                    </div>
                    <div class="col-lg-6 p-field mb-4">
                        <label class="medium-text" for="contactnumber">Contact Number</label>
                        <input class="medium-text" id="contactnumber" name="contactnumber" [(ngModel)]="signUpForm['contactnumber']" type="text" pInputText> 
                    </div>
                </div>
                <div class="p-field mb-4">
                    <label class="medium-text" for="email">Email</label>
                    <input class="medium-text" id="email" name="email" type="text" pInputText> 
                </div>
                <div class="row">
                    <div class="col-lg-4 p-field mb-4">
                        <label class="medium-text" for="city">City</label>
                        <input class="medium-text" id="city" name="city" [(ngModel)]="signUpForm['city']" type="text" pInputText> 
                    </div>
                    <div class="col-lg-4 p-field mb-4">
                        <label class="medium-text" for="state">State</label>
                        <input class="medium-text" id="state" name="state" [(ngModel)]="signUpForm['state']" type="text" pInputText> 
                    </div>
                    <div class="col-lg-4 p-field mb-4">
                        <label class="medium-text" for="zipcode">Zip Code</label>
                        <input class="medium-text" id="zipcode" name="zipcode" [(ngModel)]="signUpForm['zipcode']" type="text" pInputText> 
                    </div>
                </div>
                <div class="p-field mb-4">
                    <label class="medium-text" for="gstnumber">GST Number</label>
                    <input class="medium-text" id="gstnumber" name="gstnumber" [(ngModel)]="signUpForm['gstnumber']" type="text" pInputText> 
                </div>
                <!-- <div class="p-field mb-4">
                    <label class="medium-text" for="monthlyPaymentPlans">Monthly Payment Plan</label>
                    <p-dropdown styleClass="medium-text" optionValue="value" optionLabel="label" [options]="paymentPlans" [(ngModel)]="signUpForm['monthlyPaymentPlan']"></p-dropdown>
                </div> -->
                <div class="p-field mb-4">
                    <label for="newsletterSubscription" class="medium-text">Subscribe To Our Newsletter?</label>
                    <div class="p-field-radiobutton">
                        <p-radioButton value="Yes" [(ngModel)]="signUpForm['newsletterSubscription']" inputId="newsletterSubscription"></p-radioButton>
                        <label class="medium-text" for="newsletterSubscription">Yes</label>
                    </div>
                    <div class="p-field-radiobutton">
                        <p-radioButton value="No" [(ngModel)]="signUpForm['newsletterSubscription']" inputId="newsletterSubscription"></p-radioButton>
                        <label class="medium-text" for="newsletterSubscription">No</label>
                    </div>
                </div>
                <!-- Dropdown for monthly plan -->
                <!-- Small button in center -->
                <div class="p-field mb-4 d-flex flex-row align-items-center justify-content-end">
                    <button style="width: auto;" pButton pRipple label="Submit" (click)="payWithPaytm()" class="p-button-outlined medium-text"></button>
                </div> 
            </div>
        </div>
    </div>
</div>
